<div class="contextual">
<% if !@freshbooks_client.authorized? then %>
  <%= button_to(t('freshbooks.authorize_with_freshbooks'), authorize_freshbooks_path, method: :post) %>
<% elsif @freshbooks_client.expired? then %>
  <%= button_to(t('freshbooks.reauthorize_with_freshbooks'), authorize_freshbooks_path, method: :post) %>
<% end %>
  <%= link_to(t('freshbooks.configuration'), plugin_settings_path(id: :redmine_freshbooks_sync)) %>
</div>

<h2>FreshBooks</h2>

<%
  tabs = [
    { name: 'identity', path: freshbooks_path },
    { name: 'projects', path: freshbooks_projects_path },
    { name: 'time_entries', path: freshbooks_time_entries_path }
  ]
%>

<div class="tabs">
  <ul>
    <% tabs.each do |tab| %>
      <% selected = tab[:name] == name ? 'selected' : '' %>
      <li><%= link_to( t("freshbooks.tabs.#{tab[:name]}"), tab[:path], class: selected) %></li>
    <% end %>
  </ul>
</div>

