<%
  tabs = [
    { name: 'identity', path: freshbooks_path },
    { name: 'projects', path: freshbooks_projects_path },
    { name: 'time_entries', path: freshbooks_time_entries_path }
  ]
%>

<div class="tabs">
  <ul>
    <% tabs.each do |tab| %>
      <% selected = tab[:name] == name ? 'selected' : '' %>
      <li><%= link_to( t("freshbooks.tabs.#{tab[:name]}"), tab[:path], class: selected) %></li>
    <% end %>
  </ul>
</div>

